{% extends "base.html" %}
<article>{% block content %}
    

    <h1> Different Studying Techniques </h1>
    <h2>Pomodoro Technique</h1>
    <p>The Pomodoro Technique is proven method win managing time effectuvely and getting work done. 
        You start by breaking your work down into timed cycles called 'Pomodoros' (i.e. 25 minutes or an hour) After each Pomodoro, take a short break and relax your brain! 
        After four rounds of studying, take a longer break, around 15-30 minutes. This technique helps you stay focused and accomplish tasks without feeling overwhelmed.</p>

{% endblock %}
</article>
