{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="Pomodoro">Pomodoro Bunny</h1>
            <img src="https://media.tenor.com/eiMqmu0vXz8AAAAi/kiss.gif" alt="Pomodoro Bunny GIF" class="img-fluid">
        </div>

        <div id="timer" class="text-center mt-4">
            <h2>You got this!</h2>
            <p id="countdown" class="timer-display">00:00</p>
            <label for="duration">Minutes:</label>
            <input type="number" id="duration" min="1" value="25">
            <button onclick="startTimer()" class="timer-button start-button">Start</button>
            <button onclick="stopTimer()" class="timer-button stop-button">Stop</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
{% endblock %}
